@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

nav {
  @apply px-5 py-3 flex justify-between items-center;
}

.sign-in-btn {
  @apply px-5 py-3 bg-gray-400 rounded-full text-white;
}

.hero {
  @apply flex flex-col justify-center items-center h-[89vh];
}

.banner {
  @apply flex gap-3;
}

.banner > h1 {
  @apply text-5xl;
}
