@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

nav {
  @apply px-5 py-3 flex justify-between items-center;
}

.sign-in-btn {
  @apply px-5 py-3 bg-blue-400 rounded-full text-white;
}

.hero {
  @apply flex flex-col justify-center items-center h-[89vh] gap-5;
}

.banner {
  @apply flex gap-3;
}

.banner > h1 {
  @apply text-5xl;
}

.searchbar {
  @apply w-[50%];
}

.search-input {
  @apply w-full h-[48px] p-4 rounded-md max-sm:rounded-full bg-gray-200 outline-none cursor-pointer text-sm;
}

.search-option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}

.home__cars-wrapper {
}

/* START: Car Card styles */
.hawker-card {
  @apply flex flex-col p-6 m-5 justify-center items-start text-black bg-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.hawker-card__content {
  @apply w-full flex items-start gap-2;
}

.hawker-card__content-title {
  @apply text-[22px] leading-[26px] font-semibold capitalize;
}

.hawker-card_content-location {
  @apply leading-[26px];
}

.hawker-card_content-closure {
  @apply leading-[26px];
}

.search-page__searchbar {
  @apply ml-5 gap-3;
}

/* Hawker Page */
.hawker-contain {
  @apply p-5 space-y-5;
}

.hawker-name {
  @apply text-3xl font-semibold;
}

.hawker-info-content {
  @apply flex gap-5;
}

.hawker-img {
  position: relative !important;
  width: 30%;
}

.hawker-img Image {
  object-fit: cover;
  width: 100%;
}

.hawker-deets {
  @apply w-[70%] leading-7 flex flex-col p-6 justify-center items-start text-black bg-blue-100 rounded-3xl;
}
