@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

nav {
  @apply px-5 py-3 flex justify-between items-center;
}

.sign-in-btn {
  @apply px-5 py-3 bg-gray-400 rounded-full text-white;
}

.hero {
  @apply flex flex-col justify-center items-center h-[89vh];
}

.banner {
  @apply flex gap-3;
}

.banner > h1 {
  @apply text-5xl;
}

.searchbar {
  @apply w-[50%];
}

.search-input {
  @apply w-full h-[48px] pl-12 p-4 rounded-md max-sm:rounded-full bg-gray-200 outline-none cursor-pointer text-sm;
}

.search-option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}
